<!-- <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Visualisation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
</body>
</html> -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet : ≪ Vas-y dans le métro ≫</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Projet : ≪ Vas-y dans le métro ≫</h1>
    <h2>Visualisation du graphe</h2>
    <section>
        <h2>Instructions</h2>
        <p>Choisissez une station de départ et une station d’arrivée en cliquant sur l’image du métro ci-dessous. Vous
            pouvez également cliquer sur les boutons pour afficher les coordonnées des stations.</p>
        <div>
            <p id="pcc-text" class="pcc-font">Selectionné une station de départ et une station d’arrivée</p>
            <p id="pcc-des" class="pcc-font"></p>
        </div>
        <ul id="pcc-chemin"></ul>
        <div class="div-position">
            <div class="mr-40">
                <!-- stations de départ -->
                <p id="coordinates2" style="font-size: 18px; color: #555;">Stations de départ</p>
                <div id="position-menu">
                    <select id="position-select1">
                    </select>
                </div>
            </div>
            <div class="mr-40">
                <p id="coordinates2" style="font-size: 18px; color: #555;">Stations d’arrivée</p>
                <div id="position-menu">
                    <select id="position-select2">
                    </select>
                </div>
            </div>
            <div class="mr-40 button_list">
                <button id="pcc-btn" class="pcc">Partie	PCC</button>
                <button id="acpm-btn" class="pcc">Partie ACPM</button>
                <button id="reset-btn" class="reset">Réinitialiser</button>
            </div>
            <div class="mr-40 button_list">
                <a href="/" class="goto">Visualisation du plan<br>Image</a>
            </div>
        </div>
    </section>
    <div class="container" id="imageContainer">
        <canvas id="graphCanvas" width="987" height="1100"></canvas>
        <canvas id="canvas" class="ImgCanvas"></canvas>
    </div>
    <div id="overlay"></div>
    <div id="popup">
        <div id="popup-content">
            <h2 id="popup-text"></h2>
            <div id="lines"></div> <!-- Conteneur pour afficher les lignes directement -->
            <button id="close-btn">Fermer</button>
        </div>
    </div>

    <!-- Inclure le fichier JavaScript -->
    <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
</body>

</html>