<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Click Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Cliquez sur l'image</h1>
<img src="{{ url_for('static', filename='res/metrof_r.png') }}" alt="Image" id="clickable-image">

<div id="overlay"></div>
<div id="popup">
    <div id="popup-content">
        <h2 id="popup-text"></h2>
        <ul id="lines"></ul> <!-- Conteneur pour afficher les lignes directement -->
        <button id="close-btn">Fermer</button>
    </div>
</div>

<!-- Inclure le fichier JavaScript -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
